.userSection {
    width: 75%;
    height: max-content;
    margin: 110px auto;
    padding: 20px 15px;
    gap: 2%;
}
.userSection li input {
    border: 1px solid #cacaca;
    background-color: #f0ecec;
    margin-top: 5px;
    width: 250px;
}
.userSection .nomeDiv {
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.userSection .nomeDiv h1 {
    font-size: 3rem;
    font-weight: 400;

}


.userSection .nomeDiv .btn_sair {
    margin-left: 20px;
}



.userSection .userMain {
    width: 100%;
    display: flex;
    gap: 70px;
    align-items: flex-start;
    background-color: #f0ecec;
}

.userSection .userMain div {
    padding-left: 30px;
    padding-top: 20px;
}

.userSection .userMain svg {

    font-size: 15rem;
    padding: 20px;
    background-color: white;
    border: 1px solid rgb(206, 200, 200);
}

.userSection .userMain ul {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;


}

.userSection .userMain ul li {
    font-size: 1.1rem;
    padding-bottom: 15px;
}

.userSection .userMain ul h3 {
    font-size: 1.7rem;
    color: var(--main-orange-brand-color);
    font-weight: 400;
}

.userSection .userMain ul span {
    font-size: 1.5rem;

    font-weight: 400;
}
.endereco ul, .contact ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
.endereco , .contact, .userDescription  {
    margin-top: 50px;
}

.userDescription textarea{
    resize: none;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    height: 200px;
}

.btnDiv{
    margin-top: 40px;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.btnDiv span, .btnDiv button{
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--main-orange-brand-color);
    background-color: #f0ecec;
    border-radius: 60px;
    font-weight: bold;
    cursor: pointer;
}

.btnDiv .btn_sair:hover {
    background-color: var(--main-red-color);
}

.btnDiv  span:hover , .btnDiv button:hover{
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: #f0ecec;
    background-color: var(--main-orange-brand-color);
    border-radius: 60px;
    font-weight: bold;
    cursor: pointer;

}