.container-usuario{
    width:50%;
    height: max-content;
    margin:  200px auto;
    padding: 20px 15px;
    font-family: "Manrope", sans-serif;
    display: flex;
    gap: 2%;
}

.container-usuario h1{
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
}

.login-form{
    padding: 5px;
}
.container-usuario input {
    font-size: 1.7em;
}

.form-field{
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
    width: 70%;
    background-color: white;
}

.form-error{
    display: block;
    color: rgb(237, 67, 75);
    font-size:1.5em;
    font-weight: 600;
}

.button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    background-color: #ff5600;
    font-weight: 600;
    color: #fff;
    font-size: 2em;
}

.container-login, .container-cadastro{
    width: 50%;
    background-color: rgba(17, 25, 40, 0.06);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    text-align: center;
}

.container-login{
    margin-left: 0.5%;
}

.h1-login, .h1-cadastro{
    background-color: #ff5600;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.h1-login h1, .h1-cadastro h1{
    color: #fff;
    font-weight: 100;
    text-align: center;
}